.chcTable {width: 100%; background:none; border: none;}
td.chcLeftRow {border-bottom: 1px solid #dedede; font-size: 12px; font-weight: normal; color: #666; width: 65%; text-align: left; line-height: 20px;}
td.chcRightRow {border-bottom: 1px solid #dedede;font-size: 12px; font-weight: normal; color: #000; width: 35%; text-align: right; line-height: 20px;}